<div class="row d-flex justify-content-center mx-0">
  <div class="big-box-new-movie col-8">
    <div class="new-lists">
      <div class="new-list">
        <h1>Create a new <strong>movie</strong> !</h1>
        <%= simple_form_for [ @movie ] do |f| %>
          <%= f.input :title, class: "text-list" %>
          <%= f.input :overview, class: "text-list" %>
          <%= f.input :rating, class: "text-list" %>
          <%= f.input :poster_url, class: "text-list" %>
          <%= f.submit "Submit", class: "btn btn-success btn-submit-new" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= link_to "Home", movies_path, class: "btn btn-success btn-home" %>
